body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.Calculadora{
    margin-left: 100px ;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.resultado {
    height: 10vh;
    background-color: #FFB6C1;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    text-align: right;
    padding: 10px;

}

.botaos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    text-align: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn1 {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    background-color: #ffc0cb;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    background-color: #ccc;
}
